@import '../../all.scss';

.skills{
  background-color: #1d809f;
  
  
  .content{
    width:100%;
    max-width: 110rem;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    margin-top: 5rem;
    padding:4rem 2rem;
    

    .icon{
      display: inline-block;
      margin-right: 1.5rem;
      font-size: 4rem;
      color:$white;
    }

    .title{
      display: inline-block;
      font-size: 4rem;
      letter-spacing: .2rem;
      padding:.5rem;
      border-bottom: 1px solid $white;
    }

    .wrap{
      background-color: white;
      margin-top: 3rem;
      border-radius: 10rem;
      margin-bottom: 4rem;

      .wrap_title{
        display: flex;
        margin-left: 10rem;
        padding-top: 3rem;
      }

      .text{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .hsj{
          img{
            width:30rem;
            height:16rem;
          }
        }
  
      }
    }

    
  }
}


@media(max-width:585px){
  .skills{
    .content{
      .wrap{
        .text{
          grid-template-columns: 1fr;
          .hsj{
            img{
              width:20rem;
              height:10rem;
            }
          }
        }
      }
    }
  }
}